@charset "UTF-8";
// 混入
// 组合样式的例子
.w50{
	width: 50%;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}
// ！！！类混入
.w50-f_left{
	.w50();
	.f_left();
}
	
// 函数混入
// 定义函数
.w50() {
	width: 50%;
}
// 定义函数包含参数
.f_left() {
	float: left;
} 
.f_right() {
	float: right;
}
