/* reset css */
body{
	font-size: 14px;
	font-family: "Microsoft YaHei",sans-serif;
	color: #333;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	text-decoration: none;
	color: #333;
}
/* 自定义字体图标 */
/* 1.通过@font-face定义自己的字体 */
@font-face {
	/* 2.申明自己的字体名称 */
	font-family: 'wjs';
	/* 3.引入字体文件（约束某一段字符代码什么图案 */
	src:
	url(../fonts/MiFie-Web-Font.svg) format('svg'),
	url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
	url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
	url(../fonts/MiFie-Web-Font.woff) format('woff');
}
/* 4.怎么使用维护性更好 */
.wjs_icon{
	font-family: wjs;
}
.wjs_icon_phone::before{
	
}
